html {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: noen;
}

/* ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(219, 219, 219);
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.main {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 60%;
    height: 100%;
}

.main .now {
    display: inline-flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.main .now label {
    text-align: center;
    font-size: 6rem;
    line-height: 15rem;
    margin-right: 20px;
}

#prizeAmount {
    font-size: 6rem;
    color: red;
}

.main label {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin-right: 20px;
}



.main textarea,
.main textarea:focus {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border: none;
    resize: none;
    font-size: 2rem;
}

.lotteryBody {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

#lotteryModalLabel {
    font-size: 2rem;
}

#lotteryWinner {
    font-size: 5rem;
    line-height: 4.2rem;
}