html {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: noen;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../image/pray2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 60%;
    height: 100%;
}

.main .now {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.main .now label {
    text-align: center;
    font-size: 5rem;
    line-height: 7rem;
}

#prizeAmount {
    font-size: 6rem;
    color: red;
}

.main label {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}



.main textarea,
.main textarea:focus {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border: none;
    resize: none;
    font-size: 1rem;
    color: #FFFFFF;
}

.lotteryBody {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

#lotteryModalLabel {
    font-size: 2rem;
}

#lotteryWinner {
    font-size: 5rem;
    line-height: 4.2rem;
}